#title {
    text-align: center;
    color: hotpink;
}

#color-palette {
    display: flex;
    justify-content: center;
    cursor: pointer; /*A seta do mouse torna-se a mão com o indicador*/
}

.color {
   border: 1px solid black;
   height: 50px;
   width: 50px;
 
}

#cor1 {
    background-color: black;
}

#cor2 {
    background-color: #cdb4db; 
}

#cor3 {
    background-color: #83c5be;    
}

#cor4 {
    background-color: #e5989b;
}

#pixel-board {
    display: flex;
    flex-direction: column; /*Define como os elementos serão colocados no contêiner*/
    align-items: center;
    padding: 15px;
    cursor: pointer; /*A seta do mouse torna-se a mão com o indicador*/
   
}

.pixel {
    display: table-cell; /*Comporta-se como o <td> do HTML.*/
    border: 1px solid black;
    background-color: white;
    width: 40px;
    height: 40px;
}

.largura-comprimento {
    display: table-row; /*Comporta-se como o <tr> do HTML.*/
}
#subtitulo{
    text-align: center;
    color: rgb(216, 120, 168);
    font-size: 20px;
}

#novoDesenho {
    text-align: center;
    color: rgb(216, 120, 168);
    font-size: 20px; 
}

#clear-board{
    display: block;
    margin: auto;
}

#botao1{
    display: flex;
    justify-content: center;  
}
